*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    /* background-color: #0079a3; */
    font-family: 'Quantum',sans-serif;
    text-decoration: none;
    color: black;
}